doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.bg-blue-500.p-4
      div.container.mx-auto.flex.justify-between.items-center
        a.text-white.text-2xl.font-semibold(href='#') Tailwind CSS
        ul.flex.space-x-4
          li
            a.text-white(href='#') Home
          li
            a.text-white(href='#') About
          li
            a.text-white(href='#') Contact

    block content
